@charset "UTF-8";

/*  --------------  External --------------   */

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-Medium.ttf) format(truetype);
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/*  --------------  Global --------------   */

*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/* Link Style */
a {
    text-decoration: none;
}

html, head {
    background-color: #f5f5f5fd;
}


/*  ------------------------------------------  HEADER ------------------------------------------  */

header {
    height: auto;
    width: auto;

    background-image: url(imagens/pronto\ 003.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;

    color: white;
    font-family: 'Poppins';

    
}

#header-topo {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


 /* ******************************************* */

#logo{
    padding-left: 10px;
    max-height: 150px;
    max-width: 150px;
    min-width: 100px;
    min-height: 100px;

    width: 100%;
    height: 150px;
}

#logo > a {
    width: 100%;
    height: 100%;
}

#logo > a > img{
    width: 100%;
    height: 100%;

}

 /* ******************************************* */

#ajuda {
    height: 140px;
    position: relative;
    align-items: flex-start;
    padding-right: 100px;
}

#ajuda > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

#ajuda > a > object {
    width: 20px;
    height: 20px;
}

#ajuda > a > object:hover {
    transform: translateY(5px);
    transition: 0.5s;
}

#ajuda > a > object:not(:hover){
    transition: 0.5s;
}

 /* ******************************************* */


#busca{
    display: flex;
    flex-direction: row;
}

#busca-input{
    width: 468px;
    height: 31px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 18px;

    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #00000084;
    border-radius: 45px;
    border: 2px solid #ffffffa6;
    box-shadow:  1px 1px #2AEFA7;
    
    outline: none;
}

#busca-input:hover{
    transition: 0.5s;
    border-color: #26f954;
}

#busca-input:not(:hover){
    transition: 0.5s;
}

#busca-input:focus{
    border: 2px solid white;
}

#busca-input:focus{
    
    caret-color: #fff;
}

#busca-input::placeholder{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#busca-input:not(:focus)::placeholder{
    transition: 0.5s;
}


 /* ******************************************* */

#area-usuario{
    flex-basis: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-usuario {
    max-height: 30px;
    max-width: 30px;
    min-width: 30px;
    min-height: 30px;
}

#img-usuario > img {
    width: 100%;
    height: 100%;
    
}

#acoes-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#acoes-usuario > a {
    color: white;
}

#acoes-usuario > a:visited{
        color: white;
}

#acoes-usuario a:hover{
    text-decoration: underline;
}

/* ******************************************* */

#pedidos-devolucoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 10px;
}

#pedidos-devolucoes > a {
    color: white;
    width: 90px;
    height: 100%;
    padding: 10px;
    text-align: center;
}


#pedidos-devolucoes a:hover {
    color: black;  
    background: linear-gradient(135deg, rgba(219, 216, 216, 0.972), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 7px 32px 0 rgba(0, 0, 0, 0.37); 
    border-radius: 10px; 
}

#pedidos-devolucoes a:not(:hover){
    transition: 0.5s;
}

/* ******************************************* */

#carrinho {
    max-height: 60px;
    max-width: 60px;
    min-width: 30px;
    min-height: 30px;
}

#carrinho > a > img {
    width: 100%;
    height: 100%;
}

/*  ------------------------------------------  NAV ------------------------------------------  */

nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

nav > div > ul > li > a{
    color: #ffffff;

}

nav > div > ul > li > a:visited{
    color: #ffffff;
}

 /* ******************************************* */

#icones-menu {
    display: flex;
    flex-grow: 2;
}

#icones-menu > a > object{
    width: 15px;
    height: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#icones-menu  a{
    display: block;
    transition: background-color 0.3s;
    padding: 10px;
}

#icones-menu a:hover {
    background: linear-gradient(135deg, rgba(219, 216, 216, 0.972), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


 /* ******************************************* */

#lista-menu{
    padding-left: 55px;
    width: 40%;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

#lista-menu > ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

#lista-menu > ul > li {
    flex: 1;
    text-align: center;
}

#lista-menu li a {
    display: block; 
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s;
    padding: 11px;
}

#lista-menu li a:hover {
    transition: 0.3s;
    background: linear-gradient(135deg, rgba(219, 216, 216, 0.972), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: black;   
}

#lista-menu li a:not(:hover){
    transition: 0.5s;
}


/* ******************************************* */
#categorias{
    display: flex;
    flex-grow: 3;
    align-items: center;
    flex-direction: row-reverse;
}

#lista-categorias > a{
    display: flex !important;
    align-items: center;
}

#lista-categorias > a > img{
    width: 25px;
}

#lista-categorias a{
    display: block; 
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s;
    padding: 11px;
}

#lista-categorias a:hover {
    transition: 0.3s;
    background: linear-gradient(135deg, rgba(219, 216, 216, 0.972), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: black;   
}

/*  ------------------------------------------  MAIN ------------------------------------------   */

/* ******************* BANNER DE PROMOÇÕES  ************************* */

#promocoes {
    width: 100%px;
    height: 250px;
    background-color: #5f5f5f;
}


/* ******************* PRINCIPAIS CATEGORIAS  ************************ */

#principais-categorias {
    margin: auto;
    margin-top: 60px;
    width: 1300px;
    height: 260px;
    
}

.box-heading {
    width: 1300px;
    height: 50px;
    border-bottom: 2px solid #15ff00;

    font-family: 'PT Serif', serif;
}

.secoes{
    width: 1300px;
    height: 190px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'PT';
}

.secoes a{
    color: #232323;
}

.secoes a:visited{
    color: #232323;
}

.grade {
    width: 160px;
    height: 80px;
    background-color: #ffffff;
    display: inline-grid;
    margin: 5px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-position: center;
    text-align: center;
    background: linear-gradient(135deg, #d9dbd6b4, rgba(255, 255, 255, 0));
}

.grade:hover {
    transition: 0.3s;
    background-image: linear-gradient(
		90deg,
		#eee 0%, #eeeeee 40%,
		#1014ec3d 50%, #dddddd 55%,
		#eee 65%, #eee 100%
	
	);
	background-size: 400%;
	animation: loading 1.2s infinite;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.grade:not(:hover){
    transition: 0.5s;
}

.wireframeLoading {
	
}

@keyframes loading {
	from { background-position: 100%; }
	to { background-position: 0% }
}



/* *******************   DESTAQUES DO MÊS     ************************ */

#destaques {
    margin: auto;
    margin-top: 40px;
    width: 1287px;
    height: 470px;
    background-color: #cc6a0d;
}


/* *******************     RECOMENDADOS       ************************ */


#recomendados {
    margin: auto;
    width: 1300px;
    height: 350px;
    background-color: #ff3300;
}



/* ******************* HISTÓRICO DE NAVEGAÇÃO ************************ */


#historico-navegacao {
    margin: auto;
    width: 1300px;
    height: 160px;
    background-color: #26f954;
}



/*  ------------------------------------------  FOOTER ------------------------------------------   */


/* *******************       RODAPÉ      ************************ */

/* *******************    RODAPÉ EXTRA   ************************ */

/* ******************* DIREITOS AUTORAIS ************************ */